.container {
  background-image: url("../../../public/images/cake.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  color: #fff;
}

.timeRow {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.timeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Adjust margin as necessary */
}

.time {
  font-size: 30px; /* Adjust size for time */
  font-weight: bold;
}

.label {
  font-size: 20px; /* Adjust size for labels if needed */
}
