@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Great+Vibes&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
    font-family: "as";
    src: url("../assets/as.ttf") format("truetype");
}

@font-face {
    font-family: "KZ Decor";
    src: url("../assets/KZ\ Decor.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "as", serif;
  /* background: #e0e0e0; 
  background: -webkit-linear-gradient(to right, #e0e0e0, #bdbdbd, #9e9e9e);
  background: linear-gradient(to right, #e0e0e0, #bdbdbd, #9e9e9e);  */
  background: #ffffff; 
  background: -webkit-linear-gradient(to right, #ffffff, #e0e0e0, #c0c0c0);
  background: linear-gradient(to right, #ffffff, #e0e0e0, #c0c0c0); 
}

.font {
  font-family: "KZ Decor", serif;
}

.color {
    color: #7b5520;
}

.gis {
    border-radius: 10px;
}

@media screen and (min-width: 300px) {
    .heart {
        position: absolute;
        margin-top: 1897px;
        margin-left: 60px;
    }
}
@media screen and (min-width: 305px) {
    .heart {
        position: absolute;
        margin-top: 1903px;
        margin-left: 61px;
    }
}

@media screen and (min-width: 304px) {
    .heart {
        position: absolute;
        margin-top: 1900px;
        margin-left: 62px;
    }
}

@media screen and (min-width: 309px) {
    .heart {
        position: absolute;
        margin-top: 1900px;
        margin-left: 62px;
    }
}
@media screen and (min-width: 314px) {
    .heart {
        position: absolute;
        margin-top: 1903px;
        margin-left: 63px;
    }
}
@media screen and (min-width: 319px) {
    .heart {
        position: absolute;
        margin-top: 1906px;
        margin-left: 64px;
    }
}
@media screen and (min-width: 324px) {
    .heart {
        position: absolute;
        margin-top: 1909px;
        margin-left: 65px;
    }
}
@media screen and (min-width: 329px) {
    .heart {
        position: absolute;
        margin-top: 1912px;
        margin-left: 66px;
    }
}
@media screen and (min-width: 334px) {
    .heart {
        position: absolute;
        margin-top: 1915px;
        margin-left: 67px;
    }
}
@media screen and (min-width: 339px) {
    .heart {
        position: absolute;
        margin-top: 1918px;
        margin-left: 68px;
    }
}
@media screen and (min-width: 343px) {
    .heart {
        position: absolute;
        margin-top: 1890px;
        margin-left: 70px;
    }
}
@media screen and (min-width: 349px) {
    .heart {
        position: absolute;
        margin-top: 1895px;
        margin-left: 72px;
    }
}
@media screen and (min-width: 354px) {
    .heart {
        position: absolute;
        margin-top: 1896px;
        margin-left: 72px;
    }
}

@media screen and (min-width: 359px) {
    .heart {
        position: absolute;
        margin-top: 1900px;
        margin-left: 74px;
    }
}
@media screen and (min-width: 365px) {
    .heart {
        position: absolute;
        margin-top: 1903px;
        margin-left: 75px;
    }
}
@media screen and (min-width: 372px) {
    .heart {
        position: absolute;
        margin-top: 1905px;
        margin-left: 77px;
    }
}
@media screen and (min-width: 377px) {
    .heart {
        position: absolute;
        margin-top: 1909px;
        margin-left: 78px;
    }
}
@media screen and (min-width: 385px) {
    .heart {
        position: absolute;
        margin-top: 1912px;
        margin-left: 80px;
    }
}
@media screen and (min-width: 390px) {
    .heart {
        position: absolute;
        margin-top: 1915px;
        margin-left: 82px;
    }
}

@media screen and (min-width: 394px) {
    .heart {
        position: absolute;
        margin-top: 1919px;
        margin-left: 84px;
    }
}
/* Добавляем анимацию увеличения и уменьшения для изображения сердечка */
@keyframes heartAnimation {
    0% {
        transform: scale(1);
    } /* Начальный масштаб */
    50% {
        transform: scale(1.2);
    } /* Увеличение до 1.2x */
    100% {
        transform: scale(1);
    } /* Возврат к начальному масштабу */
}

/* Применяем анимацию к изображению сердечка */
.heart {
    animation: heartAnimation 2s ease-in-out infinite; /* Применяем анимацию */
}
